* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #110f10;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  padding: 2rem;
  text-align: center;
  margin: auto;
  max-width: 850px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  font-size: 20px;
  padding: 0 0;
}

img {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.navbar ul {
  display: flex;
  margin-bottom: 4rem;
  gap: 1.25rem;
}

.navbar ul li {
  list-style-type: none;
}

.home {
  gap: 2.5rem;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.home p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.social-networks {
  display: flex;
  justify-content: space-around;
}

.social-networks div {
  display: flex;
  width: 236px;
  height: 74px;
  align-items: center;

  background: #333131;
  border-radius: 10px;
  border: 2px solid #ffffff31;
}

.social-networks div p {
  margin-left: 6px;
  font-size: 0.7em;
  line-height: 1rem;
  width: 119px;
}

.social-networks div img {
  margin-left: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff15;
}

.social-networks div svg {
  margin-left: 8px;

  width: 30px;
  height: 30px;
}

/* //////////////// projects /////////////  */

.project {
  position: relative;
  width: 850px;
  height: 500px;
  background-color: rgb(92 91 91 / 37%);
  margin-bottom: 8vh;
  border-radius: 10px;
  border: 1px solid #757070;
  overflow: hidden;
  transition: 1s;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-img {
  display: flex;
  width: 100%;
  height: 54vh;
  transition: 5s;
}

.project .text {
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: flex;
  padding: 19px 22px;
  width: 100%;
  height: 19vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.project .text h2 {
  font-size: 30px;
  margin-bottom: 1vh;
}

.project .text div {
  display: flex;
  align-items: center;
  width: 94%;
  justify-content: space-between;
}

.project .text div svg {
  font-size: 2.5em;
}

/* hover projects */
.project:hover {
  width: 875px;
  height: 575px;
}
