* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #110f10;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  padding: 2rem;
  text-align: center;
  margin: auto;
  max-width: 1000px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 20px;
}

img {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 1.25rem;
}

.navbar ul li {
  list-style-type: none;
}

.perfil {
  width: 65px;
  border-radius: 50%;
  overflow: hidden;
  height: 65px;
}

/* home */

.home {
  gap: 2.5rem;
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-top: 60px;
}

.info-about-me p {
  width: 619px;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 40px;
}

.social-networks {
  display: flex;
  justify-content: space-around;
}

.social-networks div {
  display: flex;
  width: 236px;
  height: 74px;
  align-items: center;

  background: #333131;
  border-radius: 10px;
  border: 2px solid #ffffff31;
}

.social-networks div p {
  margin-left: 6px;
  font-size: 0.7em;
  line-height: 1rem;
  width: 119px;
}

.social-networks div img {
  margin-left: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff15;
}

.social-networks div svg {
  margin-left: 8px;

  width: 30px;
  height: 30px;
}

/* //////////////// projects /////////////  */

.cont-projects {
  margin-bottom: 50px;
}

.cont-projects h1 {
  margin-bottom: 63px;
}

.project {
  position: relative;
  width: 671px;
  height: 369px;
  background-color: rgb(92 91 91 / 37%);
  margin-bottom: 40px;
  border-radius: 10px;
  border: 1px solid #757070;
  overflow: hidden;
  transition: 0.5s;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-img {
  display: flex;
  width: 100%;
  transition: 4s;
}

.project .text {
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: flex;
  padding: 13px 15px;
  width: 100%;
  height: 160px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.project .text h2 {
  font-size: 1.4em;
}

.project .text div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.project .text div svg {
  font-size: 1em;
}
.project .text div p {
  width: 573px;
  font-size: 0.9em;
}

/* hover projects */
.project:hover {
  width: 700px;
  height: 380px;
}

/*//////  technology ////////*/

.cont-technology{
  margin-bottom: 50px;
}

.icons-technology {
  display: flex;
  width: 498px;
  margin: 52px 13px;
  justify-content: space-between;
  align-items: center;
}

.icons-technology svg {
  width: 105px;
  height: 94px;
}
